

<div class="row">

  <div class="col s12">
    <ul class="tabs black">
      <li class="tab col s4"><a class="active white-text" href="#test1">Explore</a></li>
      <li class="tab col s4"><a class="white-text"  href="#test2">My Links</a></li>
     
      <li class="tab col s4 disabled"><a class="grey-text text-darken-3"href="#test3">Social (coming soon)</a></li>
     
    </ul>
  </div>


  <div id="test1" class="col s12">
    <div style="margin-top:50px" class="row">

 
      <div class="col s12 m6 l4 ">
        <div class="card">
          <div class="card-image">
            <img class="activator resizeimg" src="https://third-axis.web.app/src/assets/imgs/cubemap.png">
            <span class="card-title">Stereo Cubemaps</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Diego Marcos</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
      
       <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img class="activator resizeimg" src="https://diegomarcos.com/webxrcomic/page1.jpg">
            <span class="card-title">WebXR Layers</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Diego Marcos</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
      
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1)" class="activator resizeimg" src="https://uploads-prod.reticulum.io/files/ddcbdade-8677-4c16-affe-49e50c32e3c8.jpg">
            <span class="card-title ">Mozilla Hubs</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Mozilla</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
      
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img class="activator resizeimg" src="https://www.supermedium.com//assets/img/moonrider.jpg">
            <span class="card-title">Moon Rider</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Supermedium</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
      
       <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img class="activator resizeimg" src="https://third-axis.web.app/src/assets/imgs/aframetracked.PNG">
            <span class="card-title">Tracked Controls Demo</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Aframe</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
      
      <div class="col s12 m6 l4">
        <div class="card">
          <div class="card-image">
            <img style="-webkit-transform: scaleX(-1);transform: scaleX(-1)" class="activator resizeimg" src="https://third-axis.web.app/src/assets/imgs/supercraft.jpg">
            <span class="card-title card-title-blur black-text">Supercraft</span>
            <div class="card-fab">
              <a class="btn-floating card-fab halfway-fab waves-effect waves-light blue-grey lighten-4"><i class="material-icons black-text">play_arrow</i></a>
            </div>
          </div>
          <div class="card-text ">
            <div class="card-content grey darken-4">
              <span class="grey-text">Created By Mozilla</span>
              <br>
              <br>
            <p class="white-text">Share a virtual room with friends.
              Watch videos, play with 3D objects, or just hang out.</p>
           </div>
        </div>
        </div>
      </div>
    </div>
  </div>


  <div id="test2" class="col s12">
    <div style="margin-top:50px" class="row">
      <h3 id="sign_text" class="center white-text">Sign In</h3>
      <div id="firebaseui-auth-container"></div>
      <h6 class="white-text"> Saved Links:</h6>
      <div class="row">

        <div style="height:15px"></div>
  
        <ul id="links" class="collection">
  
        </ul>
                
      </div>
    
      <div class="row">
  
        <div class="col s12 grey darken-4">
          <div style="height:10px"></div>
          <div class="input-field col s12">
            <input id="url_input" placeholder="Enter Link Manually" id="first_name" type="text" class="validate">
            <label class="white-text" style="font-size:100% for="first_name">Link URL</label>
          </div>
  
          <div class="input-field col s12">
            <input id="title_input" placeholder="Enter Link Title" id="first_name" type="text" class="validate">
            <label class="white-text" style="font-size:100% for="first_name">Link Title</label>
          </div>
  
          <div class="col s12 grey darken-4">
            <a id="paste_input"class="waves-effect waves-light btn grey darken-2">Paste Link</a>
            <span class="white-text" id="pasted_content" style="padding:10px"></span>
          </div>
  
      
          <div style="margin-top:25px;margin-bottom:25px" class="col s12 grey darken-4">
            <a id="upload_input" class="waves-effect waves-light btn grey darken-2">Upload Link</a>
          </div>
    
    
  
        </div>
  
       
  
      </div>
  </div>


 </div>/